<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yan.crawler.persist.dao.TrackDao">
    <resultMap id="trackResult" type="Track">
        <id property="id" column="id"/>
        <result property="artist" column="artist"/>
        <result property="name" column="name"/>
        <result property="mbid" column="mbid"/>
        <result property="url" column="url"/>
        <result property="images" column="images"/>
        <result property="tags" column="tags"/>
    </resultMap>

    <insert id="insert">
        INSERT IGNORE INTO track(artist,name,mbid,url,images)
        VALUES 
        <foreach collection="list" item="track" index="index" separator=",">
            (#{track.artist},#{track.name},#{track.mbid},#{track.url},#{track.images})
        </foreach>
    </insert>

    <update id="updateTag">
        UPDATE track
        SET
            tags = #{param3}
        WHERE
            artist = #{param1} AND name = #{param2}
    </update>
</mapper>