<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yan.persist.dao.UserDao">

    <resultMap id="userResult" type="User">
        <result property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <result property="lastLogin" column="lastLogin"/>
        <result property="status" column="status"/>
    </resultMap>

    <select id="findUserByUsernameOrEmail" parameterType="User" resultMap="userResult">
        SELECT * FROM user
        WHERE username = #{username} OR email = #{email}
    </select>

    <insert id="save" parameterType="User">
        INSERT INTO user(username,password,email,lastLogin,status)
        VALUES (#{username},#{password},#{email},#{lastLogin},#{status})
    </insert>

    <update id="updateLastLogin">
        UPDATE user
        SET
          lastLogin = #{param2}
        WHERE
          id = #{param1}
    </update>

    <select id="getUser" resultMap="userResult">
        SELECT * FROM user
        WHERE email = #{param1} AND password = #{param2}
    </select>

    <update id="updateStatus" parameterType="User">
        UPDATE user
        SET
          status = #{status}
        WHERE
          email = #{email}
    </update>

    <delete id="deleteUser" parameterType="User">
        DELETE FROM user
        WHERE email = #{email}
    </delete>
</mapper>