<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yan.crawler.persist.dao.User2Dao">
    <insert id="insert">
        INSERT IGNORE INTO user2(name,realname,images,url,country,age,gender,subscriber,playcount,playlists,bootstrap,registered,alumni)
        VALUES
        <foreach collection="users" item="user" separator=",">
            (#{user.name},#{user.realname},#{user.images},#{user.url},#{user.country},#{user.age},#{user.gender},#{user.subscriber},#{user.playcount},#{user.playlists},#{user.bootstrap},#{user.registered},#{user.alumni})
        </foreach>
    </insert>
</mapper>